{% if navbar %}
    <nav class="{{ navbar.nav_classes }}" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">{{ navbar.brand }}</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0">
                    {% if navbar.userlinks %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                {% if navbar.get_foto %}
                                    <img src="{{ navbar.get_foto }}"
                                         alt="mdo"
                                         width="32"
                                         height="32"
                                         class="rounded-circle">
                                {% endif %}
                                <span>{{ navbar.get_name }}</span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for link in navbar.userlinks %}
                                    <li>
                                        {% if link.divider %}
                                            <hr class="dropdown-divider">
                                        {% elif link.disabled %}
                                            <h6 class="dropdown-header">{{ link.label }}</h6>
                                        {% elif link.active %}
                                            <a class="dropdown-item active"
                                               aria-current="page"
                                               href="#"
                                               title="{{ link.title }}">{{ link.label }}</a>
                                        {% else %}
                                            <a class="dropdown-item" href="{{ link.to }}" title="{{ link.title }}">{{ link.label }}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
            {% if navbar.user_messages %}
                <div>
                    <ul class="nav">
                    <a class="nav-link"
                       href="{% url 'perfil_mensagens' %}"
                       title="Mensagens para o usuário"><i class="bi {{ navbar.user_messages_badge_icon }}"></i>
                    <span class="badge {{ navbar.user_messages_badge_color }}">{{ navbar.message_count_unreaden }}</span></a>
            </ul>
        </div>
    {% endif %}
    <span class="navbar-text mx-2"
          title="Localização: {{ navbar.localizacao }}"><i class="bi bi-globe"></i></span>
    <span class="navbar-text mx-2"
          title="Atualização {{ navbar.version_date }}">v{{ navbar.version }}</span>
</div>
</nav>
{% endif %}
