{% extends "base/bootstrap.html" %}
{% block content %}
    <div class="col-lg-8 px-0">
        <p class="fs-5">Registro de empréstimo de traje</p>
        <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text">Nome</span>
                <span class="input-group-text">{{ pessoa.nome }} ({{ pessoa.cpf }})</span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Desfile</span>
                <span class="input-group-text">{{ desfile }}</span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Traje</span>
                <span class="input-group-text">{{ traje_inventario }}</span>
            </div>
            {% include "trajes/checagem.html" %}
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
{% endblock content %}
