{% extends "base/bootstrap.html" %}
{% block content %}
    <div class="col-lg-8 px-0">
        {% if pessoa %}
            <div class="card">
                <div class="card-header">Pessoa</div>
                <div class="card-body">
                    <h5 class="card-title">{{ pessoa.nome }}</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        {% endif %}
        <p class="fs-5">Preencha o CPF do convidado ou o número do inventário do traje para continuar</p>
        <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text">CPF</span>
                <input type="text"
                       class="form-control"
                       name="cpf"
                       id="CPF"
                       maxlength="11"
                       pattern="[0-9]{11}"
                       title="Informe seu CPF usando apenas números">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Nº do inventário</span>
                <input type="number"
                       class="form-control"
                       name="inventario"
                       id="INVENTARIO"
                       title="Informe seu CPF usando apenas números">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
{% endblock content %}
