<form method="post">
    {% csrf_token %}
    <input type="hidden" name="ops" value="traje_devolucao_convidado" />
    <div class="input-group mb-3">
        <span class="input-group-text">Inventário #</span>
        <input type="number"
               class="form-control"
               name="inventario"
               id="INVENTARIO"
               title="Informe o número do inventário">
        <button class="btn btn-primary"
                type="submit"
                id="button-select"
                title="Continuar">
            <i class="bi bi-arrow-right-circle-fill"></i>
        </button>
    </div>
</form>
