{% extends "base/bootstrap.html" %}
{% block content %}
    <div class="col-lg-8 px-0">
        {% if desfile %}
            <p class="fs-5">Este é um convite para o desfile {{ desfile }}</p>
            <p>Por favor, insira seu CPF abaixo para continuarmos.</p>
            <form method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <span class="input-group-text">CPF</span>
                    <input type="text"
                           class="form-control"
                           name="cpf"
                           id="CPF"
                           maxlength="11"
                           minlength="11"
                           pattern="[0-9]{11}"
                           title="Informe seu CPF usando apenas números"
                           value="{{ cpf }}">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        {% else %}
            <a href="{% url 'index' %}" class="btn btn-primary">Voltar</a>
        {% endif %}
    </div>
{% endblock content %}
